body {
    font-family: sans-serif;
    background-color: cadetblue;
}

.product {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.product img {
    width: 150px;
    height: 150px;
}

.product-title {
    font-size: 18px;
    font-weight: bold;
}

.product-price {
    color: green;
}

.cartBtn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}